<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IAppointmentService" />
				<binding name="WSHttpBinding_IPatientService" />
				<binding name="WSHttpBinding_IDoctorService" />
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8735/CMD.Appointments.Service/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAppointmentService"
                contract="AppointmentService.IAppointmentService" name="WSHttpBinding_IAppointmentService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:8732/CMD.Patients.Service/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPatientService"
                contract="PatientService.IPatientService" name="WSHttpBinding_IPatientService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:8734/CMD.Doctors.Service/DoctorService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDoctorService"
                contract="DoctorService.IDoctorService" name="WSHttpBinding_IDoctorService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>